[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
marshmallow = "*"
webargs = "*"
flask-caching = "*"
redis = "*"

[dev-packages]
pre-commit = "*"
pylint = "*"
autopep8 = "*"
httpie = "*"
rope = "*"
wheel = "*"
bump2version = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
